# Dependencies
/node_modules
/backend/node_modules
/astro-nano/node_modules

# Build output
/dist
/astro-nano/dist
/.astro

# Environment variables
.env
.env.*
!.env.example

# Log files
*.log
error.log
combined.log

# System files
.DS_Store
Thumbs.db

# Temp directories
.mypy_cache
/backend/.sequelizerc
