<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>
    <title>Ian Woodward Portfolio</title>
  </head>
  <body>
    <h1>About Me</h1>
    <h2>Hi, I'm Ian Woodward</h2>
    <p>I am a cybersecurity consultant graduated from Wentworth Institute of Technology class of 2023 </p>
    <p>I have experience in the field of cybersecurity and have worked on various projects to improve security measures.</p>
    <p>I am passionate about cybersecurity and I believe that it is important for individuals to stay up-to-date with the latest trends and technologies in the industry. I am excited to continue learning and growing as a cybersecurity professional, and I look forward to working with you on any projects or audits that your team needs to thrive in the cyber landscape!</p>